.home_container {
    margin-top: 30px;
   text-align: center;
}

.box {
    margin: 10px auto;
    padding: 14px 10px;
    width: 500px;
    display: block;
}

#snap-btn {
    padding: 10px 8px;
    border: 2px solid black;
    border-radius: 24px;
    width: 100px;
    position: relative;
    left: 38%;
    cursor: pointer;
}
.dust {
  position: absolute;
}